Package	Version
abind	1.4-5
ade4	1.7-18
annotate	1.68.0
AnnotationDbi	1.52.0
AnnotationFilter	1.14.0
AnnotationHub	2.22.1
aod	1.3.2
ape	5.6-1
ArchR	0.9.5
argparse	2.1.5
askpass	1.1
assertthat	0.2.1
backports	1.4.1
base64enc	0.1-3
basilisk	1.2.1
basilisk.utils	1.2.2
bayesm	3.1-4
beachmat	2.6.4
beeswarm	0.4.0
betareg	3.1-4
BH	1.78.0-0
Biobase	2.50.0
BiocFileCache	1.14.0
BiocGenerics	0.36.1
BiocManager	1.30.17
BiocNeighbors	1.8.2
BiocParallel	1.24.1
BiocSingular	1.6.0
BiocVersion	3.12.0
biomaRt	2.46.3
Biostrings	2.58.0
bit	4.0.4
bit64	4.0.5
bitops	1.0-7
blob	1.2.3
bluster	1.0.0
brew	1.0-7
brio	1.1.3
broom	0.8.0
BSgenome	1.58.0
BSgenome.Hsapiens.UCSC.hg38	1.4.3
bslib	0.3.1
cachem	1.0.6
Cairo	1.5-12.2
callr	3.7.0
carData	3.0-5
caret	6.0-90
caTools	1.18.2
cellranger	1.1.0
chromVAR	1.12.0
circlize	0.4.14
cli	3.1.1
clipr	0.8.0
clue	0.3-60
CNEr	1.26.0
coda	0.19-4
coin	1.4-2
colorspace	2.0-2
commonmark	1.7
ComplexHeatmap	2.6.2
compositions	2.0-4
corrplot	0.92
CountClust	1.18.0
covr	3.5.1
cowplot	1.1.1
cpp11	0.4.2
crayon	1.5.1
credentials	1.3.2
crosstalk	1.2.0
crul	1.2.0
curl	4.3.2
data.table	1.14.2
DBI	1.1.2
dbplyr	2.1.1
dbscan	1.1-10
DelayedArray	0.16.3
DelayedMatrixStats	1.12.3
deldir	1.0-6
dendextend	1.15.2
DEoptimR	1.0-11
desc	1.4.1
DescTools	0.99.44
DESeq2	1.30.1
devtools	2.4.3
dichromat	2.0-0.1
diffobj	0.3.5
digest	0.6.29
DirichletMultinomial	1.32.0
DirichletReg	0.7-1
docopt	0.7.1
doMC	1.3.8
doParallel	1.0.17
dplyr	1.0.7
dqrng	0.3.0
DropletUtils	1.10.3
DT	0.22
dtplyr	1.2.1
e1071	1.7-9
edgeR	3.32.1
ellipsis	0.3.2
ensembldb	2.14.1
entropy	1.3.1
evaluate	0.15
Exact	3.1
ExperimentHub	1.16.1
expm	0.999-6
extrafontdb	1.0
fansi	1.0.2
farver	2.1.0
fastcluster	1.2.3
fastmap	1.1.0
fastmatch	1.1-3
fgsea	1.16.0
filelock	1.0.2
findpython	1.0.7
fitdistrplus	1.1-8
flexmix	2.3-17
FNN	1.1.3
fontawesome	0.2.2
forcats	0.5.1
foreach	1.5.2
formatR	1.12
Formula	1.2-4
fs	1.5.2
futile.logger	1.4.3
futile.options	1.0.1
future	1.25.0
future.apply	1.9.0
gage	2.40.2
gargle	1.2.0
genefilter	1.72.1
geneplotter	1.68.0
generics	0.1.2
GenomeInfoDb	1.26.7
GenomeInfoDbData	1.2.4
GenomicAlignments	1.26.0
GenomicFeatures	1.42.3
GenomicRanges	1.42.0
gert	1.5.0
GetoptLong	1.0.5
ggbeeswarm	0.6.0
ggplot2	3.3.6
ggrepel	0.9.1
ggridges	0.5.3
ggsci	2.9
ggsignif	0.6.3
ggtern	3.3.5
gh	1.3.0
gistr	0.9.0
git2r	0.29.0
gitcreds	0.1.1
gld	2.6.4
glmnet	4.1-3
GlobalOptions	0.1.2
globals	0.14.0
glue	1.6.1
GO.db	3.12.1
goftest	1.2-3
googledrive	2.0.0
googlesheets4	1.0.0
gower	0.2.2
gplots	3.1.3
graph	1.68.0
gridExtra	2.3
gtable	0.3.0
gtools	3.9.2
hardhat	0.2.0
harmony	1.0
haven	2.4.3
HDF5Array	1.18.1
here	1.0.1
hexbin	1.28.2
HiddenMarkov	1.8-13
highr	0.9
hms	1.1.1
htmltools	0.5.2
htmlwidgets	1.5.4
httpcode	0.3.0
httpuv	1.6.5
httr	1.4.3
ica	1.0-2
ids	1.0.1
igraph	1.2.11
ini	0.3.1
interactiveDisplayBase	1.28.0
ipred	0.9-12
IRanges	2.24.1
IRdisplay	1.1
IRkernel	1.3
irlba	2.3.5
isoband	0.2.5
iterators	1.0.14
jquerylib	0.1.4
jsonlite	1.7.3
KEGGREST	1.30.1
km.ci	0.5-6
KMsurv	0.1-5
knitr	1.39
labeling	0.4.2
lambda.r	1.2.4
later	1.3.0
latex2exp	0.9.4
lava	1.6.10
lazyeval	0.2.2
leiden	0.3.10
libcoin	1.0-9
lifecycle	1.0.1
limma	3.46.0
listenv	0.8.0
lmom	2.8
lmtest	0.9-39
lobstr	1.1.1
locfit	1.5-9.4
lubridate	1.8.0
magrittr	2.0.2
mapproj	1.2.8
maps	3.4.0
maptools	1.1-2
maptpx	1.9-7
markdown	1.1
MAST	1.16.0
MatrixGenerics	1.2.1
MatrixModels	0.5-0
matrixStats	0.61.0
maxLik	1.5-2
mclust	5.4.9
memoise	2.0.1
metacell	0.3.7
mime	0.12
miniUI	0.1.1.1
minqa	1.2.4
miscTools	0.6-26
ModelMetrics	1.2.2.2
modelr	0.1.8
modeltools	0.2-23
motifmatchr	1.12.0
multcomp	1.4-19
munsell	0.5.0
mvtnorm	1.1-3
nabor	0.5.0
numDeriv	2016.8-1.1
openssl	1.4.6
pals	1.7
parallelly	1.31.1
patchwork	1.1.1
pbapply	1.5-0
pbdZMQ	0.3-6
pdist	1.2
permute	0.9-7
pheatmap	1.0.12
picante	1.8.2
pillar	1.7.0
pixmap	0.4-12
pkgbuild	1.3.1
pkgconfig	2.0.3
pkgload	1.2.4
plogr	0.2.0
plotly	4.10.0
plyr	1.8.6
png	0.1-7
polyclip	1.10-0
polynom	1.4-1
poweRlaw	0.70.6
pracma	2.3.8
praise	1.0.0
preprocessCore	1.52.1
presto	1.0.0
prettyunits	1.1.1
pROC	1.18.0
processx	3.5.2
prodlim	2019.11.13
progress	1.2.2
progressr	0.10.0
promises	1.2.0.1
ProtGenerics	1.22.0
proto	1.0.0
proxy	0.4-26
pryr	0.1.5
ps	1.6.0
purrr	0.3.4
qlcMatrix	0.9.7
quantmod	0.4.20
R.methodsS3	1.8.1
R.oo	1.24.0
R.utils	2.11.0
R6	2.5.1
randomForest	4.6-14
RANN	2.6.1
rappdirs	0.3.3
rbokeh	0.5.2
rcmdcheck	1.4.0
RColorBrewer	1.1-3
Rcpp	1.0.8
RcppAnnoy	0.0.19
RcppArmadillo	0.10.8.1.0
RcppEigen	0.3.3.9.1
RcppHNSW	0.3.0
RcppProgress	0.4.2
RcppTOML	0.1.7
RCurl	1.98-1.5
readr	2.0.2
readxl	1.3.1
recipes	0.2.0
rematch	1.0.1
rematch2	2.1.2
remotes	2.4.2
repr	1.1.4
reprex	2.0.1
reshape	0.8.9
reshape2	1.4.4
ResidualMatrix	1.0.0
reticulate	1.24
rex	1.2.1
Rgraphviz	2.34.0
rhandsontable	0.3.8
rhdf5	2.34.0
rhdf5filters	1.2.1
Rhdf5lib	1.12.1
Rhtslib	1.22.0
rjson	0.2.21
rlang	1.0.0
rmarkdown	2.14
robustbase	0.93-9
ROCR	1.0-11
rootSolve	1.8.2.3
roxygen2	7.1.2
Rphenograph	0.99.1
rprojroot	2.0.3
Rsamtools	2.6.0
RSpectra	0.16-0
RSQLite	2.2.9
rstudioapi	0.13
rsvd	1.0.5
rtracklayer	1.50.0
Rtsne	0.15
rversions	2.1.1
rvest	1.0.2
S4Vectors	0.28.1
sandwich	3.0-1
sass	0.4.0
scales	1.2.0
scater	1.18.6
scattermore	0.7
scran	1.18.7
scRNAseq	2.4.0
sctransform	0.3.3
scuttle	1.0.4
segmented	1.5-0
selectr	0.4-2
seqinr	4.2-8
seqLogo	1.56.0
sessioninfo	1.2.2
shape	1.4.6
shiny	1.7.1
shinythemes	1.2.0
SingleCellExperiment	1.12.0
sitmo	2.0.2
slam	0.1-50
snow	0.4-4
sourcetools	0.1.7
sp	1.4-6
SparseM	1.81
sparseMatrixStats	1.2.1
sparsesvd	0.2
spatstat.data	2.2-0
spatstat.geom	2.3-1
spatstat.sparse	2.1-0
spatstat.utils	2.3-0
SQUAREM	2021.1
statmod	1.4.36
stringi	1.7.6
stringr	1.4.0
SummarizedExperiment	1.20.0
survMisc	0.5.6
svglite	2.0.0
sys	3.4
systemfonts	1.0.3
tensor	1.5
tensorA	0.36.2
testthat	3.1.2
TFBSTools	1.28.0
TFMPvalue	0.0.8
tgconfig	0.1.2
tgstat	2.3.16
tgutil	0.1.6
TH.data	1.1-1
tibble	3.1.6
tidyr	1.1.4
tidyselect	1.1.1
tidyverse	1.3.1
timeDate	3043.102
tinytex	0.38
triebeard	0.3.0
TTR	0.24.3
tximport	1.18.0
tximportData	1.18.0
tzdb	0.2.0
umap	0.2.7.0
urltools	1.7.3
usethis	2.1.5
utf8	1.2.2
uuid	1.0-3
uwot	0.1.11
vctrs	0.3.8
vegan	2.5-7
vipor	0.4.5
viridis	0.6.2
viridisLite	0.4.0
vroom	1.5.5
waldo	0.4.0
wesanderson	0.3.6
whisker	0.4
withr	2.5.0
xfun	0.29
XML	3.99-0.8
xml2	1.3.3
xopen	1.0.0
xtable	1.8-4
xts	0.12.1
XVector	0.30.0
yaml	2.2.2
zeallot	0.1.0
zellkonverter	1.0.3
zip	2.2.0
zlibbioc	1.36.0
zoo	1.8-9
